body {
  background-color: white;
}

h1 {
    font-family: 'bebas-neue', sans-serif;
    font-size: 96px;
    font-weight: 400;
    font-style: normal;
    color: tan;
    flex: 100%;
    max-width: 100%;
    text-align: left;
    margin-right: 9%;
    padding-top: -20px;
    padding-bottom: -20px;
}

h3 {
    font-family: 'Merriweather'; 
    font-size: 64px;
    color: tan;
    line-height: .75px;
    display: inline-block;
    flex-wrap: wrap;
}

p {
    font-family: 'Merriweather'; font-size: 18px;
    color: darkslateblue;
    display: inline-block;
    flex-wrap: wrap;
}

b {
  font-weight: bold;
}

.topnav {
    background-color: lightsteelblue;
}

.topnav a {
    color: darkslateblue;
    text-align: center;
    font-family: 'bebas-neue', sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    padding: 14px 16px;
}

.topnav a.hover {
  color: white;
}

.topnav a.active {
  color: lightcyan;
}
    
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 25%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* @media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  } */
  
.DigitaliFrames {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
#PhysPage {  
  width: 100%;  
  height: auto; 
}
  
.WritingiFrames {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
.fa {
    padding: 20px;
    font-size: 60px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
